/***************************************
*
*   VARIABLES
*
****************************************/

/***************************************
*   BRAND COLORS
****************************************/

$navbar-color: #ef5350;
$link-color: #2c3e50;
$title-color: #2c3e50;

/***************************************
*  WIDTHS
****************************************/

$main-body-width: 900px;
$image-sprite-width: 96px;

/***************************************
*   POKEMON TYPES COLORS
****************************************/

$default-type-color: #a1caf1;
$bug-color: #c7da25;
$dark-color: #444446;
$dragon-color: #2c43a5;
$electric-color: #f6c913;
$fairy-color: #fb95e8;
$fighting-color: #ae2a24;
$fire-color: #ed6d12;
$flying-color: #a1caf1;
$ghost-color: #644e88;
$grass-color: #69c23d;
$ground-color: #db844d;
$ice-color: #7ecece;
$normal-color: #a7a7a7;
$poison-color: #923a92;
$psychic-color: #f36374;
$rock-color: #ceba7c;
$steel-color: #4f5d6b;
$water-color: #59b2f7;

/***************************************
*   Media Queries
****************************************/

$medium-breakpoint: 992px; 

/***************************************
*   Misc
****************************************/

$card-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

